@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-black: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-kaki: 28, 56, 32;
  --background-dark-green: 0, 61, 46;
  --background-raisin-black: 52, 37, 47;
  --accents-soft-orange: 255, 184, 92;
  --accents-light-orange: 255, 167, 38;
  --accents-burnt-orange: 230, 126, 34;
  --accents-steel-blue: 74, 137, 201;
  --accents-light-blue: 107, 197, 231;
  --accents-sky-blue: 135, 206, 235;
  --text-dark-grey: 75, 75, 75;
  --text-charcoal-grey: 60, 60, 60;
  --text-off-white: 248, 248, 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--text-off-white));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-kaki))
    )
    rgb(var(--background-dark-green));
}
